body {
  text-align: center;
  background-image: url('./components/backgroundcook.jpeg');
  background-size: cover ;
  background-position: center center;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App-link {
  text-decoration: 'none'
}

.title-text {
  font-family: 'Lora', serif;
}

.footer {
  width: 100%;
  text-align: center;
  position: fixed ;
  bottom: 0;
  color: #333;
}