@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url(https://fonts.googleapis.com/css?family=Lora:700);

body {
  margin: 0;
  font-family: "Josefin", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title-text{
  font-family: "Lora", serif;
}